alien/ArcaneInterface/cmake/build-system/csharp/CMakeListGenerator/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ifpen.fr/ArcGeoSim" 
           elementFormDefault="unqualified">

  <xs:complexType name="Directory">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="depend" use="optional"/>
        <xs:attribute type="xs:boolean" name="recursive" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>